{{/* Fonction: get-rhizome-items
  Objectif: Fusionner et normaliser le contenu Markdown (Racines) et les liens YAML (Spores).
  Retourne: Une Slice mélangée d'objets standardisés.
*/}}

{{ $items := slice }}

{{/* 1. Traitement des Racines (Pages Markdown locales) */}}
{{ range .Pages }}
  {{ $item := dict 
    "Title" .Title 
    "Url" .RelPermalink 
    "Summary" .Description 
    "Icon" (.Params.icon | default "🥕") 
    "Color" (.Params.color | default "mauve") 
    "Type" "internal" 
    "Date" .Date
  }}
  {{ $items = $items | append $item }}
{{ end }}

{{/* 2. Traitement des Spores (Liens externes YAML) */}}
{{ if .Params.items }}
  {{ range .Params.items }}
    {{ $item := dict 
      "Title" .title 
      "Url" .url 
      "Summary" "" 
      "Icon" (.icon | default "🦠") 
      "Color" (.color | default "subtext0") 
      "Type" "external" 
      "Date" .Date 
    }}
    {{ $items = $items | append $item }}
  {{ end }}
{{ end }}

{{/* 3. Mélange entropique (Shuffle) */}}
{{ return ($items | shuffle) }}