{{/* Usage : {{ partial "ui/tag-chip.html" . }}
     Contexte : un objet Page de terme OU une chaîne (nom de tag).
     Refonte type-heavy : un simple lien de tag souligné, plus de « chip » coloré. */}}
{{ $page := . }}
{{ if reflect.IsSlice . }}
  {{ $page = index . 0 }}
{{ end }}

{{ if reflect.IsMap . }}
  {{/* C'est déjà un objet Page. */}}
{{ else }}
  {{/* C'est une chaîne : on retrouve la page de tag en comparant les titres
       (urlize ne respecte pas removePathAccents, d'où l'appariement par titre). */}}
  {{ $tagName := . | lower }}
  {{ $page = false }}
  {{ range site.Taxonomies.tags }}
    {{ if eq (.Page.Title | lower) $tagName }}{{ $page = .Page }}{{ end }}
  {{ end }}
{{ end }}

{{ if $page }}
<a class="tag-link" href="{{ $page.RelPermalink }}">#{{ $page.LinkTitle | lower }}</a>
{{ else }}
<span class="tag-link tag-link--missing" title="étiquette introuvable">#{{ . | lower }}</span>
{{ end }}
